$noticeButtonsTextColor: #087FFF;
.noticeList{
	outline: none;
	z-index: 300;
	float: right;
	position: relative;
	top: 19px;
	margin-right: 55px;
	width: 16px;
	height: 20px;
	background: url("../images/bell.svg") no-repeat;

	.noticeSelect {
		position: absolute;
		right: 0;
		top: 20px;
		margin: 10px 0 0;
		background-color: #fff;
		width: 606px;
		height: 401px;
		padding: 20px 30px;
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, .2) 0 2px 4px 0;
		z-index: 100;
		outline: none;
		color: #000;

		h3{
			font-family: FiraSans-Regular, arial, verdana, sans-serif;
			font-size: 18px;
			margin: 0;
			+span{
				position: absolute;
				top: 20px;
				right: 30px;
				color: $noticeButtonsTextColor;
				cursor: pointer;
			}
		}

		a {
			text-decoration: none;
			color: #000;
			display: block;
			line-height: 35px;
			padding: 0 19px;
		}

		a:hover {
			background-color: #F2F8FF;
		}

		.noticeScrollArea{
			max-height: 320px;
			margin-top: 15px;
			overflow-y: scroll;
			.noticeDate{
				vertical-align: top;
				margin-left: 50px;
			}
			a{
				max-width: 400px;
				line-height: 20px;
				display: inline-block;
			}
		}

		.noticeListFooter span{
			float: right;
			color: $noticeButtonsTextColor;
			margin: 10px 0 0 20px;
			cursor: pointer;
			font-family: FiraSans-Regular, arial, verdana, sans-serif;
			font-size: 14px;
		}

	}
}