$noticeButtonsTextColor: #087FFF;
.noticeList{
	outline: none;
	z-index: 300;
	top: -14px;
	width: 16px;
	margin-right: 35px;
	//background: url("../images/bell.svg") no-repeat;

	.toggler {
		top: 19px;
		height: 20px;
		background: url("../images/bell.svg") no-repeat;

	}

	.noticeSelect {
		position: absolute;
		right: 0;
		top: 30px;
		margin: 10px 0 0;
		background-color: #fff;
		width: 606px;
		height: 401px;
		padding: 20px 30px;
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, .2) 0 2px 4px 0;
		z-index: 100;
		outline: none;
		color: #000;



		h3{
			font-family: FiraSans-Regular, arial, verdana, sans-serif;
			font-size: 18px;
			margin: 0;
			+span{
				position: absolute;
				top: 20px;
				right: 30px;
				color: $noticeButtonsTextColor;
				cursor: pointer;
			}
		}

		a {
			text-decoration: none;
			color: #000;
			display: block;
			line-height: 35px;
			padding: 0 19px;
		}

		a:hover {
			background-color: #F2F8FF;
		}

		.noticeScrollArea{
			&::-webkit-scrollbar-track
			{
				display: none;
			}

			&::-webkit-scrollbar
			{
				width: 7px;
			}

			&::-webkit-scrollbar-thumb
			{
				border-radius: 4px;
				background-color: rgba(151, 151, 151, .2);
			}
			max-height: 320px;
			margin-top: 15px;
			overflow-y: scroll;
			position: relative;
			.noticeImportant{
				.noticeDate:before{
					content: '';
					position: absolute;
					left: 20px;
					display: block;
					width: 20px;
					height: 16px;
					background: url("../images/noticeTriangle.svg") no-repeat;
				}
			}

			.noticeWatched *{
				 color: #A4A4A4;
			 }

			.noticeDate{
				vertical-align: top;
				margin-left: 60px;
				color: #A4A4A4;
			}
			a{
				max-width: 400px;
				line-height: 20px;
				display: inline-block;
			}
		}

		.noticeListFooter{
			span, a{
				float: right;
				color: $noticeButtonsTextColor;
				margin: 10px 0 0 60px;
				cursor: pointer;
				font-family: FiraSans-Regular, arial, verdana, sans-serif;
				font-size: 14px;
				position: relative;
				&.noticeWatchAll{
					line-height: 18px;
					padding: 0;
				}
			}

			.noticeWatchAll:before, .noticeSettings:before{
				content: '';
				position: absolute;
				left: -25px;
				display: block;
				width: 20px;
				height: 16px;
			}

			.noticeWatchAll:before{
				top: 2px;
				background: url("../images/noticeEyeOpen.svg") no-repeat;
			}

			.noticeSettings:before{
				background: url("../images/settings.svg") no-repeat;
			}
		}

	}
}