.enterNewPassword {

	min-height: 670px;
	position: relative;
	background-color: #FAFBFB;
	height: 100vh;

	.enterNewPasswordWrapper {
		width: 1060px;
		margin: 0 auto;
		height: 540px;

		.mainFormEnterNewPassword {
			width: 340px;
			//height: 334px;
			background-color: #fff;
			display: inline-block;
			border-radius: 4px;
			margin: 47px 20px 0 118px;
			padding: 50px;
			position: relative;

			.notice{
				height: 100%;
				border: solid 1px #d4d9dc;
				opacity: .5;

				h4 {
					color: #000;
					font-family: Formular-Bold, arial, verdana, sans-serif;
					font-size: 18px;
					margin: 42px 0 20px;
				}

				p{
					display: block;
					height: auto;
					font-size: 16px;
					line-height: 24px;
					font-family: ProximaNova-Reg, arial, verdana, sans-serif;
					color: #000;
					margin-bottom: 24px;

					a{
						color: #208cff;
						text-decoration: none;
					}
				}

			}

			h3 {
				margin: -8px 0 22px;
				color: #000;
				font-family: Formular-Bold, arial, verdana, sans-serif;
				font-size: 24px;
			}

			/*Поля email, Восстановить пароль*/

			input[type="text"], input[type="password"] {
				height: 60px;
				width: 340px;
				border-radius: 2px;
				border: 1px solid #cfcfcf;
				box-sizing: border-box;
				padding: 20px 0 7px 14px;
				font-size: 18px;
			}

			> p {
				position: relative;
				margin: 20px 0 0;
				line-height: 1.5;
				color: #000;
			}

			p:nth-child(4){
				margin-top: 19px;
			}

			.passwordSyntaxError{
				font-weight: bold;
				font-size: 13px;
				line-height: 1.54;
				margin-bottom: 30px;
				padding-left: 16px;
				position: relative;
				letter-spacing: normal;

				span:before{
					display: block;
					position: absolute;
					left: 0;
					bottom: -4px;
					content: '';
					width: 2px;
					height: 30px;
					background-color: #ff3434;
				}
			}

			.passwordSyntaxError.hidden{
				display: none;
			}

			.savePassword{
				margin-top: 25px;
			}

			.resendBtn{
				margin: 25px 0 25px 33px;
				font-family: ProximaNova-Reg, arial, verdana, sans-serif;
				font-size: 14px;
				line-height: 1.14;


				:before {
					position: absolute;
					left: -34px;
					top: -4px;
					display: block;
					content: '';
					background: url(resend.svg) no-repeat;
					width: 26px;
					height: 26px;
				}
				a{
					text-decoration: none;
					color: #208cff;
				}
			}

			input[type="text"]:focus, input[type="password"]:focus {
				box-shadow: 0 0 3px 0 #208cff;
				border: solid 1px #208cff;
			}

			.textLabel {
				position: absolute;
				top: 17px;
				font-size: 18px;
				color: #6e7478;
				left: 15px;
				transition: 0.3s;
			}

			input:focus + .textLabel, .dirty label {
				top: 7px;
				font-size: 13px;
				transition: 0.3s;
			}

			.dirty{
				.eyeOpen, .eyeClosed{
					display: block;
				}
			}



			/*Блок Чужой компьютер, восстановить пароль*/



			.passwordRecover {
				float: right;
				text-decoration: none;
				color: #6E7478;
				font-size: 14px;
				margin-top: 2px;
			}

			/*Кнопка Войти*/

			input[type="submit"] {
				width: 340px;
				height: 60px;
				background-color: #eee;
				font-size: 16px;
				border-radius: 2px;
				color: #9a9a9a;
				outline: none;
				font-family: ProximaNova-Reg, arial, verdana, sans-serif;
			}

			input[type="submit"], input[type="submit"]:active, input[type="submit"]:visited, input[type="submit"]:focus {
				border: none;
				box-shadow: none;
			}

			input[type="submit"]:hover {
				background-color: #208cff;
				color: #fff;
				cursor: pointer;
			}

			.alternate {
				margin: 54px 0 0;
				color: #6E7478;
				font-size: 14px;

				:before {
					position: absolute;
					left: -15px;
					top: 4px;
					display: block;
					content: '';
					background: url(up-down.svg) no-repeat 2px 2px;
					width: 15px;
					height: 14px;
				}

				a {
					text-decoration: none;
					color: #6E7478;
				}
			}

			.eyeOpen, .eyeClosed {
				display: none;
				position: absolute;
				right: 15px;
				width: 30px;
				height: 20px;
				margin: 0;
			}

			.eyeClosed {
				right: 15px;
				bottom: 21px;
				background: url("../loginForm/eyeClosed.svg") no-repeat 0px 6px;
				background-size: contain;
			}

			.eyeOpen {
				bottom: 24px;
				background: url("../loginForm/eyeOpen.svg") no-repeat 0 8px;
				background-size: contain;
			}
		}
	}
}