.breadcrumbs{
	position: absolute;
	top: -42px;
	left: 33px;

	span{
		display: inline-block;
		position: relative;
		margin-left: 15px;
		color: #6E7478;
	}

	span:before{
		content: '';
		display: block;
		position: absolute;
		left: -11px;
		width: 10px;
		height: 15px;
		background: url("ArrowIcon.svg") no-repeat 0 4px;
	}
}