.userName{
	float: right;
	text-align: right;
	position: relative;
	top: 19px;
	color: #000;
	outline: none;

	span{
		margin-right: 15px;
	}

}

#hidden span:before{
	position: absolute;
	right: 0;
	top: 3px;
	display: block;
	content: '';
	background: url(up-down.svg) no-repeat 0 6px;
	width: 10px;
	height: 15px;
	transition-duration: .3s;
}

#visible span:before{
	position: absolute;
	right: 0;
	top: 3px;
	display: block;
	content: '';
	background: url(up-down.svg) no-repeat 0 6px;
	width: 10px;
	height: 15px;
	transform: rotate(180deg);
	transition-duration: .3s;
}
