.userName {
	text-align: right;
	color: #000;
	outline: none;
	z-index: 300;
	cursor: pointer;
	margin-top: 15px;
	position: relative;
	span {
		margin-top: 15px;
	}

	.profileSelect {
		position: absolute;
		right: 0;
		list-style: none;
		text-align: left;
		margin: 10px 0 0;
		background-color: #fff;
		width: 216px;
		padding: 20px 0;
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, .2) 0 2px 4px 0;
		z-index: 100;
		outline: none;

		a {
			text-decoration: none;
			color: #000;
			display: block;
			height: 35px;
			line-height: 35px;
			padding: 0 19px;
		}

		a:hover {
			background-color: #F2F8FF;
		}

	}

	&#hidden span:after {
		position: relative;
		right: -15px;
		top: -19px;
		display: inline-block;
		content: '';
		background: url(up-down.svg) no-repeat 0 6px;
		width: 10px;
		height: 15px;
		transition-duration: .3s;
	}

	&#visible span:after {
		position: relative;
		right: -15px;
		top: -19px;
		display: inline-block;
		content: '';
		background: url(up-down.svg) no-repeat 0 6px;
		width: 10px;
		height: 15px;
		transform: rotate(180deg);
		transition-duration: .3s;
	}

}