.footerMenu {
	height: 70px;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	border-top: 1px solid #cfcfcf;
	width: 100%;

	p{
		width: 1060px;
		margin: 12px auto 0;
	}

	a {
		display: inline-block;
		color: #9a9a9a;
		text-decoration: none;
		padding: 10px 41px 8px;
		height: 30px;
	}

	#eirc{
		background: url("../Header/E.png")0 3px no-repeat;
	}

	#question{
		background: url("question.svg")8px 12px no-repeat;
		margin-left: 137px;
	}

	#help{
		background: url("help.svg")11px 8px no-repeat;
	}

	#dit{
		background: url("dit.svg")11px 8px no-repeat;
		margin-left: 160px;
	}

	#lastLink{
		background: url("prostor.svg")5px 20px no-repeat;
		padding: 0 44px;
	}

}