.notice{
	display: inline-block;
	width: 334px;
	height: 481px;
	padding: 50px;
	border: 1px solid #cfcfcf;
	position: absolute;
	left: 490px;
	top: 0px;
	box-sizing: border-box;
	border-radius: 4px;

	p{
		display: table-cell;
		height: 381px;
		vertical-align: middle;
	}
}