.notice{
	display: inline-block;
	float: right;
	width: 334px;
	height: 481px;
	padding: 50px;
	border: 1px solid #cfcfcf;
	position: relative;
	right: 357px;
	top: 30px;
	box-sizing: border-box;

	p{
		display: table-cell;
		height: 381px;
		vertical-align: middle;
	}
}